In [3]:
#union
merek_mobil = {'toyota', 'suzuki', 'honda', 'hino'}
merek_motor = {'yamaha', ' kawasaki', 'ducati', 'BMW', 'TVS'}

gabungan = merek_mobil | merek_motor
print(gabungan)

{'hino', ' kawasaki', 'BMW', 'ducati', 'toyota', 'suzuki', 'honda', 'yamaha', 'TVS'}

In [4]:
#Intersection
merek_mobil = {'toyota', 'suzuki', 'honda', 'hino'}
merek_motor = {'yamaha', ' kawasaki', 'ducati', 'suzuki', 'honda'}
gabungan = merek_mobil & merek_motor
print(gabungan)

{'suzuki', 'honda'}

In [5]:
nim = {'71200120', '71200195', '71200214'}
jumlah_nim = len(nim)
print(jumlah_nim) 
for n in nim:
    print(n)

3
71200120
71200214
71200195

In [6]:
plat_nomor = set()
plat_nomor.add('AB 1890 XA')
plat_nomor.add('AD 6810 MT')
print(len(plat_nomor)) 
plat_nomor.add('AB 1890 XA') 
for plat in plat_nomor:
    print(plat)

2
AD 6810 MT
AB 1890 XA

In [7]:
bilangan_prima = {13, 23, 7, 29, 11, 5}
bilangan_prima.remove(5)
print(bilangan_prima) 
bilangan_prima.discard(97) 
print(bilangan_prima)
bilangan = bilangan_prima.pop() 
print(bilangan)
print(bilangan_prima)
bilangan_prima.clear() 
print(bilangan_prima)

{29, 23, 7, 11, 13}
{29, 23, 7, 11, 13}
29
{23, 7, 11, 13}
set()

In [9]:
#Difference 
english = {'joni', 'jono', 'jontor', 'joe', 'jaja', 'jwalk'}
korean = {'joni', 'jontor', 'jara', 'jowo'}

only_korean = korean - english
print(only_korean)

only_english = english - korean
print(only_english)

{'jara', 'jowo'}
{'jwalk', 'joe', 'jono', 'jaja'}

In [10]:
#Symmetric Difference
english = {'joni', 'jono', 'jontor', 'joe', 'jaja', 'jwalk'}
korean = {'joni', 'jontor', 'jara', 'jowo'}

one_language = english ^ korean
print(one_language)

{'joe', 'jaja', 'jwalk', 'jara', 'jowo', 'jono'}